name: Deploy to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Build and Push Image
        run: |
          gcloud builds submit --tag gcr.io/wekit-mvp/wekit-app

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy wekit-app \
            --image gcr.io/wekit-mvp/wekit-app \
            --region us-central1 \
            --platform managed \
            --allow-unauthenticated
